{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="auth-card">
  <h1>Новый пароль</h1>

  {% if validlink %}

    <p class="muted">Придумай новый пароль и повтори его.</p>

    <form method="post" class="auth-form">
      {% csrf_token %}

      <div class="field">
        <label>Новый пароль</label>
        {{ form.new_password1 }}
      </div>

      <div class="field">
        <label>Повторите пароль</label>
        {{ form.new_password2 }}
      </div>

      <button type="submit" class="btn-primary">
        Сохранить пароль
      </button>
    </form>

  {% else %}

    <div class="alert">
      Ссылка для сброса пароля недействительна или уже использована.
    </div>

    <p class="muted">
      <a href="{% url 'password_reset' %}">
        Запросить новую ссылку
      </a>
    </p>

  {% endif %}
</div>
{% endblock %}
